.git
.github
.idea
.vscode
.zed
tmp
tests
_docker
docker-compose.yml
Procfile
nixpacks.toml
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/*
bootstrap/cache/*.php
.env
.env.*
.phpunit.result.cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
